.main{
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.search{
  width: 80vw;
  margin-top: 30px;
  height: 40px;
  border-radius: 10px;
}
.addnote-container{
  display: flex;
  flex-direction: column;
 align-items: center;
  row-gap: 20px;
  padding: 2vw;
}
.input{
  width: 80vw;
  height: 80px;
}
button{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  color: antiquewhite;
  font-weight: bold;
}
@media only screen and (max-width: 350px){
  .main{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;
  }
  .search{
    width: 300px;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
  }
  .addnote-container{
    display: flex;
    flex-direction: column;
   align-items: center;
    row-gap: 10px;
    padding: 10px;
  }
  .input{
    width: 300px;
    height: 80px;
  }
  button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
  }
}
